---
import { User2 } from 'lucide-react';

import {
  Card,
  CardContent, 
  CardHeader,
  CardTitle,
} from "./ui/card";
---

<section class="text-center px-4 py-24 md:px-8 lg:px-16 xl:px-32 bg-[#F8F8F8] ">
  <h2 class="text-xs text-slate-800 tracking-widest font-light title-font mb-1">
    TESTIMONIALS
  </h2>
  <h2 class="text-2xl md:text-3xl font-semibold title-font mb-2 sm:mb-0">
    What our clients say
  </h2>
  <p class="py-2 text-gray-500">Don't just take our word for it - see what our valuable customers have to say about their experience.</p>
  <div class="flex md:flex-nowrap flex-wrap sm:justify-between sm:text-left gap-4 mt-4">  
    <Card className="md:w-1/3  w-full">
      <CardHeader>
        <CardTitle className="text-xl">
          "Best painters in Frederick"
        </CardTitle>
        <CardContent className='text-gray-500'> 
          No matter the job, we are confident we are the right team for
          you. A fresh coat of paint can be a perfect, cost-effective
          option if you’re looking to breathe new life into your home or
          business.
        </CardContent>
        <div class="flex-wrap sm:flex sm:text-left items-center pt-2">
          <div class="inline-flex items-center justify-center">
            <User2 size="20" color="#6F785A"/>
            <p class="text-base sm:text-md font-semibold pl-2 text-[#6F785A]">Felix Zarate</p>
          </div>
        </div>
      </CardHeader>
    </Card>
    <Card className="md:w-1/3  w-full">
      <CardHeader>
        <CardTitle className="text-xl">
          "Best painters in Frederick"
        </CardTitle>
        <CardContent className='text-gray-500'>
          No matter the job, we are confident we are the right team for
          you. A fresh coat of paint can be a perfect, cost-effective
          option if you’re looking to breathe new life into your home or
          business.
        </CardContent>
        <div class="flex-wrap sm:flex sm:text-left items-center pt-2">
          <div class="inline-flex items-center justify-center">
            <User2 size="20" color="#6F785A"/>
            <p class="text-base sm:text-md font-semibold pl-2 text-[#6F785A]">Felix Zarate</p>
          </div>
        </div>

      </CardHeader>
    </Card>
    <Card className="md:w-1/3  w-full">
      <CardHeader>
        <CardTitle className="text-xl">
          "Best painters in Frederick"
        </CardTitle>
        <CardContent className='text-gray-500'>
          No matter the job, we are confident we are the right team for
          you. A fresh coat of paint can be a perfect, cost-effective
          option if you’re looking to breathe new life into your home or
          business.
        </CardContent>
        <div class="flex-wrap sm:flex sm:text-left items-center pt-2">
          <div class="inline-flex items-center justify-center">
            <User2 size="20" color="#6F785A"/>
            <p class="text-base sm:text-md font-semibold pl-2 text-[#6F785A]">Felix Zarate</p>
          </div>
        </div>
      </CardHeader>
    </Card>
  </div>
</section>
